.food-catalog__block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 40px;
  margin-top: 40px;
}

.food-catalog__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2vh;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  align-items: center;
}

.food-catalog__title {
  font-size: 20px;
  text-align: center;
}

.food-catalog__image {
  width: 160px;
}
