.food-catalog__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2vh;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.food-catalog__item:hover {
  transform: scale(1.05);
}

.food-catalog__title {
  font-size: 20px;
  text-align: center;
}

.food-catalog__image {
  max-width: 80%;
  padding: 2vh;
}

.food-catalog__description {
  text-align: justify;
}
